<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IKIZEN">
        
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".BasicsActivity"
            android:exported="false" />
        <activity
            android:name=".GoalsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityLevelActivity"
            android:exported="false" />
        <activity
            android:name=".DietActivity"
            android:exported="false" />
        <activity
            android:name=".HealthActivity"
            android:exported="false" />
        <activity
            android:name=".FeelingActivity"
            android:exported="false" />
        <activity
            android:name=".AccomplishActivity"
            android:exported="false" />
        <activity
            android:name=".RoutineActivity"
            android:exported="false" />
        <activity
            android:name=".TargetActivity"
            android:exported="false" />
        <activity
            android:name=".ReadyActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".FoodActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MoodActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
    </application>

</manifest>